<div class="project-container">
  <h2>Panel de Proyectos</h2>
  <p>Crea un nuevo proyecto o selecciona uno ya creado.</p>

  <button class="btn" (click)="createProject()">Crear Proyecto</button>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="projects.length > 0">
    <h3>Lista de Proyectos</h3>
    <table>
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>{{ project.description }}</td>
          <td>
            <div class="button-container">
              <button class="btn btn-details" (click)="viewDetails(project.id)">Detalles</button>
              <button class="btn btn-edit" (click)="editProject(project.id)">Editar</button>
              <button class="btn btn-delete" (click)="confirmDelete(project.id)">Eliminar</button>
            </div>
          </td>          
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h3>¿Estás seguro de eliminar este proyecto?</h3>
      <p>{{ selectedProject?.description }}</p>
      <div class="modal-buttons">
        <button (click)="deleteProject(selectedProject?.id)" class="btn btn-delete">Eliminar</button>
        <button (click)="closeModal()" class="btn btn-cancel">Cancelar</button>
      </div>
    </div>
  </div>
</div>
