<div class="project-container">
    <h2>Editar Proyecto</h2>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea id="description" formControlName="description"></textarea>
            <div *ngIf="projectForm.get('description')?.hasError('minlength') && projectForm.get('description')?.touched">
              La descripción debe tener al menos 3 caracteres.
            </div>
            <div *ngIf="projectForm.get('description')?.hasError('required') && projectForm.get('description')?.touched">
                La descripción es obligatoria.
            </div>
        </div>
          
        <div class="form-group">
            <label for="generalobjective">Objetivo General</label>
            <textarea id="generalobjective" formControlName="generalobjective"></textarea>
            <div *ngIf="projectForm.get('generalobjective')?.hasError('minlength') && projectForm.get('generalobjective')?.touched">
              El objetivo general debe tener al menos 3 caracteres.
            </div>
        </div>
          
        <div class="form-group">
            <label for="totalsgr">Total SGR</label>
            <input id="totalsgr" type="number" formControlName="totalsgr" />
            <div *ngIf="projectForm.get('totalsgr')?.hasError('min') && projectForm.get('totalsgr')?.touched">
              El total SGR debe ser mayor o igual a 0.
            </div>
        </div>
          
        <div class="form-group">
            <label for="totalduration">Duración Total</label>
            <input id="totalduration" type="number" formControlName="totalduration" />
            <div *ngIf="projectForm.get('totalduration')?.hasError('min') && projectForm.get('totalduration')?.touched">
              La duración total debe ser mayor o igual a 1.
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="btn-edit" [disabled]="projectForm.invalid">Guardar</button>
            <button type="button" class="btn-delete" (click)="onCancel()">Cancelar</button>
        </div>
    </form>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>  